<%= content_for(:title, "New Rental") %>

<div class="new-rental container">
  <div class="row">
    <h1>Create a New Rental</h1>

    <%= render("layouts/errors", :object => @rental) %>

    <%= form_for @rental do |f| %>
      <div class="form-group">
        <%= f.label :title %></br>
        <%= f.text_field :title %>
      </div>
      <div class="form-group">
        <%= f.label :rental_type %></br>
        <%= f.radio_button :rental_type, "Private Room" %> Private Room </br>
        <%= f.radio_button :rental_type, "Entire House" %> Entire House
      </div>
      <div class="form-group">
        <%= f.label :location %></br>
        <%= f.text_field :location %>
      </div>
      <div class="form-group">
        <%= f.label :description %></br>
        <%= f.text_field :description %>
      </div>
      <div class="form-group">
        <%= f.hidden_field :user_id, :value => current_user.id %></br>
        <%= f.submit(:class => "btn btn-primary") %>
      </div>
    <% end %>
  </div>
</div>
