<div class="rental-page container">
  <div class="row">
    <div class="col-9">
      <h1><%= @rental.title %></h1>
      <h2><%= link_to @rental.user.username, user_path(@rental.user.id) %> | <%= @rental.created_at.strftime("%B %d, %Y") %></h2>

      <h3><%= @rental.location %> | <%= @rental.rental_type %></h3>

      <p><%= @rental.description %></p>
    </div>
    <div class="col-3">
      <h1>Create a New Reservation</h1>

        <%= render("layouts/errors", :object => @reservation) %>

        <%= form_for @reservation do |f| %>
        <div class="form-group">
          <input type="text" id="datepicker" placeholder="start date">
        </div>
        <div class="form-group">
          <input type="text" id="datepicker2" placeholder="end date">
        </div>
        <div class="form-group">
          <%= f.hidden_field :user_id, :value => current_user.id %></br>
          <%= f.hidden_field :rental_id, :value => @rental.id %></br>
          <%= f.submit(:class => "reservation-button btn btn-default") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
