<div class="rental-page container">
  <div class="row">
    <h1><%= @rental.title %></h1>
    <h2><%= @rental.user.username %> | <%= @rental.created_at.strftime("%B %d, %Y") %></h2>

    <h3><%= @rental.location %> | <%= @rental.rental_type %></h3>

    <p><%= @rental.description %></p>

    <p><%= link_to "Rent this place!" %></p>

  </div>
</div>
