<div class="rental-page container">
  <div class="row">
    <h1><%= @rental.title %></h1>
    <h2><%= link_to @rental.user.username, user_path(@rental.user.id) %> | <%= @rental.created_at.strftime("%B %d, %Y") %></h2>

    <h3><%= @rental.location %> | <%= @rental.rental_type %></h3>

    <p><%= @rental.description %></p>

    <p><%= link_to "Rent this place!" %></p>

  </div>
</div>
