<div class="header navbar navbar-fixed-top">
  <div class="container-inner">
    <ul class="brand pull-left">
      <li><%= link_to "GroundBnB", root_url %></li>
    </ul>
    <ul class="header-links pull-right">
      <% if current_user %>
        <li><%#= link_to "Add a Rental", new_rental_path %></li>
        <li>Logged in as <span class="orange"><%= link_to current_user.username, user_path(current_user) %></span></li>
        <li><%= link_to 'Edit profile', edit_user_registration_path %></li> |
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>
