<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for?(:title) ? yield(:title)+" | betterbnb" : "betterbnb" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Inder|Megrim' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
    $(function() {
      $("#datepicker").datepicker({
           minDate: +0,
           onSelect: function(dateText, inst){
                     var the_date = new Date(dateText);
                     $("#datepicker2").datepicker('option', 'minDate', the_date);
           }
      });
      $("#datepicker2").datepicker();
    });

  </script>

</head>
<body>

<%= render 'layouts/header' %>

  <%= yield %>

<div class="container flash">
  <span class="green"><%= flash[:notice] %></span>
  <span class="red"><%= flash[:alert] %></span>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
